body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: whitesmoke;
}
.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(241, 215, 215);
}
.palavra{
    display: flex;
}
.palavra > .letras{
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
    font: normal 5rem serif;
}
.tecla > p{
    text-align: center;
    font: normal 1.2rem times, serif;
}
.tecla > input{
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    background-color: rgb(241, 215, 215);
}
.tecla > input:focus{
    outline: none;
    
}
.btns > input{
    width: 100px;
    height: 30px;

    border: 1px solid #0000006e;
    box-shadow: 3px 3px 6px #00000061;
    border-radius: 4px;
    cursor: pointer;
}
.btns > input:hover{
    background-color: rgba(214, 187, 187, 0.164)
;
}
.boneco{
    height: 250px;
}